.principal{
    display: flex;
    align-items: center;
    width: 50%;
    
}

form {
    display: inline-block;
    width: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
    border-radius: 50px;
    padding:  10px;
}

form label {
    display:block;
    font-size: 20px;
    margin: auto 20px;
}

form input {
    display: block;
    margin: auto;
    padding: 10px 25px;
    width: 80%;
}