.principal{
    display: flex;
    align-items: center;
    width: 50%;
    
}

form {
    display: inline-block;
    width: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
    border-radius: 50px;
    padding:  9px;
}

form label {
    display:block;
    font-size: 20px;
    margin: auto 20px;
}

form input {
    display: block;
    margin: auto;
    padding: 10px 25px;
    width: 80%;
}

.principal{
    display: flex;
    margin: auto 600px;
}

table{
    background-color: aqua;
    border-radius: 30px;
    width: 600px;
}

tr:nth-child(even){

    background-color: blue;
    color: white;
}

th{
    padding: 20px;
}

a{
    text-decoration: none;
    color: black;
    background: #A9D3F2;
}